// Colors
$wh: #fff;
$bl: #494754;
$main: #B1BAC2;
$accent: #007EF1;
$secondary: lighten($main, 20);

// Scale
$modular-scale-ratio: 1.5;
$modular-scale-base: 1em;

// Rules
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.detached {
  position: fixed !important;
  background: darken($wh,0);
}

.invisible {
  -webkit-transform: translate(0, -200px);
  -moz-transform: translate(0, -200px);
  -o-transform: translate(0, -200px);
  -ms-transform: translate(0, -200px);
  transform: translate(0, -200px);
  opacity: 0;
}

// Media q
$breakp1: 30em;
$breakp2: 45em;
$breakp3: 60em;
$breakp4: 75em;

@mixin screen($media) {
  @if $media == medium {
    @media screen and (min-width: $breakp1) {
      @content;
    }
  }
  @else if $media == large {
    @media screen and (min-width: $breakp2) {
      @content;
    }
  }
  @else if $media == big {
    @media screen and (min-width: $breakp3) {
      @content;
    }
  }
  @else if $media == huge {
    @media screen and (min-width: $breakp4) {
      @content;
    }
  }
}
