--- 
layout: default 
---

<div id="start" class="container">
  <div class="d-xl-flex pt-5">

    <div class="intro">
      <img class="profile-pic mb-5" src="{{ 'img/rzecchini_profile_pic.jpg' | relative_url}}" alt="" width="150" height="150">
      <h1 class="text-xl font-bold mb-11">Hi there, I’m Riccardo.</h1>
      <h2 class="text-lg mb-5">User Experience specialist and Project Manager.</h2>
      <div class="mb-1">
        <a href="#about">More about me</a>
      </div>
      <div class="mb-1">
        <a class="d-xl-none" href="#work">My work</a>
      </div>
      <div class="mb-1">
        <a href="#contact">Get in touch</a>
      </div>
    </div>

    <div class="content">
      <div class="row d-xl-none">
        <div class="col-12 pt-7 pb-7">
          <hr>
        </div>
      </div>

      <!-- Currently -->
      <div class="row">
        <div class="col-12 col-lg-10 col-xl-12 pb-3">
          <h2 class="text-xl font-bold mb-11" id="work">Currently</h2>
          <p class="text-lg">I’m part of the Digital Transformation department at Sparkasse - Cassa di Risparmio di Bolzano where I build comprehensive software solutions to guide traditional banking towards innovation with my team.</p>
          <img class="mt-3" src="{{ 'img/spk_logo.png' | relative_url}}" width="287" height="46" alt="Logo Sparkasse Cassa di Risparmio Bolzano">
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-7 pb-7">
          <hr>
        </div>
      </div>

      <!-- Previously -->
      <div class="row">
        <div class="col-12 col-lg-10 col-xl-12 pb-5">
          <h2 class="text-xl font-bold mb-1">Previously</h2>
          <p class="text-lg">I’ve worked at multi-disciplinary tech companies and I’ve collaborated with successful startups:</p>
        </div>
      </div>

      <section class="mb-7">
        <div class="row">
          <div class="col-12 col-md-8 pb-3">
            <div class="mb-1">
              <a href="https://www.vertical-life.info/">Vertical-Life</a>
              <span> — UX Lead and Project Manager</span>
            </div>
            <table class="text-sm mt-5 mb-1">
              <tbody>
                <tr>
                  <td class="font-bold pr-1">When</td>
                  <td>2018 – 2020</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">What</td>
                  <td>UX strategy, Project management, Front-end development</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">Industry</td>
                  <td>IT/Tech, Outdoor, Climbing</td>
                </tr>
              </tbody>
            </table>
            <img src="{{ 'img/vl_logo.png' | relative_url}}" width="54" height="40" alt="Vertical-Life logo">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-12 col-md-6 col-lg-7 pb-1">
            <img src="{{ 'img/rzecchini_vl_rs2.png' | relative_url}}" alt="Smart Climbing Gymy sample screen">
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm">
            <p class="mb-1">Lead designer in the Smart Climbing Gym team — working on a modular management software for gyms connected to a native app for customers. Together they simplify staff operations and raise customer engagement.</p>
            <div>
              <a href="https://gym.vertical-life.info/" target="_blank" rel="noopener">More about Smart Climbing Gym</a> {% include arrow_top_right.html %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7 pb-1">
            <div>
              <video poster="{{ 'img/zb-phone-tilt.png' | relative_url}}" playsinline="" muted="" loop="" autoplay="" preload="metadata" width="100%" height="auto">
                <source src="{{ 'img/zb-phone-tilt.mp4' | relative_url}}" type="video/mp4">
              </video>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm">
            <p class="mb-1">In other teams I’ve contributed to major redesigns, product specs and design systems. I use prototyping as a mindset to rapidly test ideas and move quickly. Often I dress the part of project manager and design-development facilitator.</p>
            <div class="mb-11">
              <a href="https://zlagboard.com/" target="_blank" rel="noopener">Go to Zlagboard training website</a> {% include arrow_top_right.html %}
            </div>
            <div>
              <a href="https://www.vertical-life.info/" target="_blank" rel="noopener">Go to Vertical-Life website</a> {% include arrow_top_right.html %}
            </div>
          </div>
        </div>
      </section>

      <section class="mb-7">
        <div class="row">
          <div class="col-12 col-md-8 pb-3">
            <div class="mb-1">
              <a href="https://www.chialab.it/lang/eng">Chialab</a>
              <span> — UX/UI Designer</span>
            </div>
            <table class="text-sm mb-1">
              <tbody>
                <tr>
                  <td class="font-bold pr-1">When</td>
                  <td>2015–2018</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">What</td>
                  <td>Product Design, UX, Front-end engineering</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">Industry</td>
                  <td>IT, Design, Innovation</td>
                </tr>
              </tbody>
            </table>
            <img src="{{ 'img/chialab_logo.png' | relative_url}}" width="58" height="36" alt="Chialab logo">
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7 pb-1">
            <img src="{{ 'img/rzecchini_chialab_agile.jpg' | relative_url}}" alt="Agile development at Chialab">
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm">
            <p class="mb-1">I’ve been involved in multi-disciplinary teams working for a vast array of clients using Agile/Scrum methodologies. Read some case studies about my main projects on the company’s website:</p>
            <div class="mb-11">
              <a href="https://www.chialab.it/lang/eng/works/dockbooking-work" target="_blank" rel="noopener">Dockbooking - App and website</a> {% include arrow_top_right.html %}
            </div>
            <div class="mb-11">
              <a href="https://www.chialab.it/lang/eng/works/pearson-player" target="_blank" rel="noopener">Pearson - Player 2.0 web-app</a> {% include arrow_top_right.html %}
            </div>
            <div>
              <a href="https://www.chialab.it/lang/eng/works/report-sui-consumi" target="_blank" rel="noopener">Hera - Infographic report and UI</a> {% include arrow_top_right.html %}
            </div>
          </div>
        </div>
      </section>

      <section class="mb-7">
        <div class="row">
          <div class="col-12 col-md-8 pb-3">
            <div class="mb-1">
              <a href="https://www.rosamosario.com/">Rosamosario</a>
              <span> — Front-end developer</span>
            </div>
            <table class="text-sm">
              <tbody>
                <tr>
                  <td class="font-bold pr-1">When</td>
                  <td>2016</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">What</td>
                  <td>Front-end development</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">Industry</td>
                  <td>Fashion, e-commerce</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7 pb-1">
            <img src="{{ 'img/rzecchini_rosamosario.png' | relative_url}}" alt="Rosamosario sample screens">
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm">
            <p class="mb-1">During the complete redesign of the e-commerce website I’ve helped the team migrating from Magento to Shopify developing the website front-end.</p>
            <div>
              <a href="https://www.rosamosario.com/" target="_blank" rel="noopener">Visit rosamosario.com</a> {% include arrow_top_right.html %}
            </div>
          </div>
        </div>
      </section>

      <section class="mb-7">
        <div class="row">
          <div class="col-12 col-md-8 pb-3">
            <div class="mb-1">
              <a href="https://www.satispay.com/">Satispay</a>
              <span> — Product Designer</span>
            </div>
            <table class="text-sm mb-1">
              <tbody>
                <tr>
                  <td class="font-bold pr-1">When</td>
                  <td>2014</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">What</td>
                  <td>Product Design, UX, UI</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">Industry</td>
                  <td>Mobile payments</td>
                </tr>
              </tbody>
            </table>
            <img src="{{ 'img/satispay_logo.png' | relative_url}}" width="120" height="30" alt="Satispay logo">
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7 pb-1">
            <img src="{{ 'img/riccardo_zecchini_satispay_05.gif' | relative_url}}" alt="Satispay gif">
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm">
            <p class="mb-1">I joined the team during the early stages to help them prototyping, testing, and validating ideas about simplifying payments and money transfers — Satispay became innovation leader in financial tech.</p>
            <div>
              <a href="https://www.satispay.com/" target="_blank" rel="noopener">Visit Satispay website</a> {% include arrow_top_right.html %}
            </div>
          </div>
        </div>
      </section>

      <div class="row">
        <div class="col-12 pt-7 pb-7">
          <hr>
        </div>
      </div>

      <!-- About -->
      <div class="row">
        <div class="col-12 col-md-8 col-xl-10">
          <h2 class="text-xl font-bold mb-1" id="about">About</h2>
          <p class="text-lg mb-3">Hello, nice to meet you!
            <br> I’m Riccardo and for the past 10 years I’ve been shaping interactive digital products.</p>
          <p class="mb-3">In my work I focus on <strong>making customers happy</strong> and <strong>help businesses grow</strong>. Today I’m more interested in a product that is informative and helpful rather than a product that looks pretty.</p>
          <p class="mb-11">I own the design process from concept to implementation:
          </p>
          <ul class="mb-3">
            <li>conduct user research and usability testings;</li>
            <li>create user-flows and prototypes;</li>
            <li>define design systems and style guidelines;</li>
            <li>build websites and code components for modern frameworks.</li>
          </ul>
          <p class="mb-3">Knowing how to write front-end code and understanding how it performs has taught me how <strong>I can help teams in bridging the divide between the design and development worlds</strong>.</p>
          <img class="mb-5" src="{{ 'img/rzecchini_office.jpg' | relative_url}}" alt="Picture of Riccardo in the office">
          <img class="mb-1" src="{{ 'img/rzecchini_climbing.jpg' | relative_url}}" alt="Photo of Riccardo climbing, shot by Fabian">
          <p class="text-sm">In my spare time I love going climbing and being outdoor exploring the mountains.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 pt-7 pb-7">
          <hr>
        </div>
      </div>

      <!-- Get in touch -->
      <div class="row align-items-start">
        <div class="col-12">
          <h2 class="text-xl font-bold mb-1" id="contact">Get in touch</h2>
          <p class="text-lg mb-5">Reach out if you are interested in learning more about my process or want to know more about any project.
          </p>

        </div>
        <div class="col-12 pt-3 pb-3">
          <div style="overflow-x: auto;">
            <table class="text-sm">
              <tbody>
                <tr>
                  <td class="pb-1 pr-1">Twitter</td>
                  <td><a href="https://twitter.com/rzecchini" target="_blank">@rzecchini</a></td>
                </tr>
                <tr>
                  <td class="pb-1 pr-1">Linkedin</td>
                  <td><a href="https://www.linkedin.com/in/rzecchini" target="_blank">linkedin.com/in/rzecchini</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-12 pt-3 pb-3">
          <div class="text-xs">
            <ul class="p-0" style="list-style-type: none;opacity:.8">
              <li>Built with Jekyll and served by Netlify</li>
              <li>Last updated Jan 2021</li>
              <li>No sensitive data collected - <a style="border:0" href="/privacy-policy">Analytics Privacy Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-12 pt-3 pb-7">
          <a class="text-sm" href="#start">Back to top</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.d-xl-flex -->
</div>
<!-- /.container -->
