<footer class="footer">
	<div class="container">

		<ul class="footer__col">
			{% for page in site.pages %} {% if page.work != true %}
			<li>
				<a href="{{ page.url }}">{{ page.title }}</a>
			</li>
			{% endif %} {% endfor %}
		</ul>
		<ul class="footer__col">
			<li>
				<a href="https://www.flickr.com/photos/picre" target="_blank">Photos</a>
			</li>
			<li>
				<a href="http://stories.riccardozecchini.com/" target="_blank">Stories</a>
			</li>
			<li>
				<a href="http://www.behance.net/rzecchini" target="_blank">Projects</a>
			</li>
		</ul>
		<ul class="footer__col">
			<li>
				<a href="https://twitter.com/rzecchini" target="_blank">Twitter</a>
			</li>
			<li>
				<a href="https://it.linkedin.com/in/rzecchini" target="_blank">LinkedIn</a>
			</li>
		</ul>
	</div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28248983-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-28248983-1');
</script>
