<div class="container"> 
	<footer class="footer">
			<ul class="footer__col">
				{% for page in site.pages %}
					{% if page.work != true %}
					<li>
						<a href="{{ page.url }}">{{ page.title }}</a>
					</li>
					{% endif %}
				{% endfor %}
			</ul>
			<ul class="footer__col">
				<li>
					<a href="https://www.flickr.com/photos/picre" target="_blank">Photos</a>
				</li>
				<li>
					<a href="http://stories.riccardozecchini.com/" target="_blank">Stories</a>
				</li>
				<li>
					<a href="http://www.behance.net/rzecchini" target="_blank">Projects</a>
				</li>
			</ul>
			<ul class="footer__col">
				<li>
					<a href="https://twitter.com/rzecchini" target="_blank">Twitter</a>
				</li>
				<li>
					<a href="https://it.linkedin.com/in/rzecchini" target="_blank">LinkedIn</a>
				</li>
			</ul>
	</footer>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" data-no-instant></script>
<script>
	window.jQuery || document.write('<script src="js/vendor/jquery-1.11.1.min.js" ><\/script>')
</script>

<script src="{{ '/assets/js/jquery.fitvids.js' | relative_url }}" ></script>
<script src="{{ '/assets/js/main.js' | relative_url }}" ></script>
