<div class="header">
	<div class="container">
		<nav>
			{% if nickname == 'profile' %}
				<ul class="nav">
					<li></li>
					<li>Profile</li>
					<li>
						<a href="/"><span class="show--large">Selected</span> Works&emsp;<span>&rarr;</span></a>
					</li>
				</ul>
			{% elsif nickname == '' %}
				<ul class="nav">
					<li>
						<a href="/profile"><span>&larr;</span>&emsp;Profile
						</a>
					</li>
					<li>
						<a href="/"></a><span class="show--large">Selected</span> Works
					</li>
					<li class="last-update">
						Last update 2014
					</li>
				</ul>
			{% else %}
				<ul class="nav">
					<li >
						<a href="/"><span>&larr;</span>&emsp;<span class="show--large">Selected</span> Works
						</a>
					</li>
					<li></li>
					<li class="last-update">
						Last update 2014
					</li>
				</ul>
			{% endif %}
		</nav>
	</div>
</div>