<div class="thumbs">
  <div class="container">
    <ul>
      <li>
        <a href="/train-schedules">
          <figure>
            <img src="/img/riccardo-zecchini-trainUI-thsmall.jpg" width="300" height="186" alt="Project Design Thumbnail">
            <figcaption class="thumbs__title">Train schedules UI</figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/betfect">
          <figure>
            <img src="/img/riccardo-zecchini-betfect-thsmall.jpg" width="300" height="186" alt="Project Design Thumbnail">
            <figcaption class="thumbs__title">Betfect</figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/fabrica-ntmy">
          <figure>
            <img src="/img/riccardo-zecchini-ntmy-thsmall.jpg" width="300" height="186" alt="Project Design Thumbnail">
            <figcaption class="thumbs__title">Nice to meet you</figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/sansavenir">
          <figure>
            <img src="/img/riccardo-zecchini-sansavenir-thsmall.jpg" width="300" height="186" alt="Project Design Thumbnail">
            <figcaption class="thumbs__title">Sansavenir</figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/satispay">
          <figure>
            <img src="/img/riccardo_zecchini_satispay_thsmall.jpg" width="300" height="186" alt="Project Design Thumbnail">
            <figcaption class="thumbs__title">Satispay</figcaption>
          </figure>
        </a>
      </li>

      <li>
        <a href="/map-print">
          <figure>
            <img src="/img/riccardo-zecchini-pu-map-thsmall.jpg" width="300" height="186" alt="Project Design Thumbnail">
            <figcaption class="thumbs__title">Book makers map</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </div>
</div>