.index-page {
    background: $hover;
}

.profile-page {
    background: $hover;
    color: $bg;
}

.container {
    overflow: hidden;
    margin: 0 1.5em;
    @include screen(medium) {
        margin: 0 4%;
    }
    @include screen(large) {
        margin: 0 8%;
    }
    @include screen(big) {
        margin: 0 auto;
        max-width: 90%;
    }
}

.header {
    background: $hover;
}

.nav {
    width: 100%;
    padding: golden-ratio(1) 0;
    margin: 0 auto;
    overflow: hidden;
    @include screen(large) {
        padding: golden-ratio(2) 0;
    }
    li {
        float: left;
        width: 33%;
    }
}

.nav__update {
    text-align: right;
    text-transform: none;
    color: #FF5722;
}

.work-page .nav__update {
    margin-left: 33%;
}

.selected-word {
    display: none;
    @include screen(large) {
        display: inline-block;
    }
}

.me {
    margin: golden-ratio(4) 0;
    @include screen(big) {
        margin: golden-ratio(5) 0 golden-ratio(4);
    }
}

.me__introduce {
    margin-top: 1em;
}

// Nav IN PROFILE PAGE
.profile-page {
    .nav__profile {
        margin-left: 33%;
    }
}

//Project List
.project-list {
    overflow: hidden;
    margin-top: golden-ratio(3);
}

.project {
    padding-bottom: golden-ratio(4);
    img {
        margin: auto;
        transition: all 0.2s linear;
        &:hover {
            opacity: .4;
        }
    }
    &:nth-child(2n) {
        @include screen(big) {
            margin-right: 0;
        }
    }
    @include screen(big) {
        margin-right: 10%;
        figure {
            min-height: 480px;
        }
    }
    @include screen(big) {
        width: 45%;
        float: left;
    }
}

.project__title {
    margin-top: golden-ratio(1);
}

.project__type {
    margin-top: .25em;
}

// Project Content
.project-intro-wrapp {
    background: $hover;
}

.project-content {
    padding: 1em 0;
    p,
    figure,
    .fig {
        margin: golden-ratio(-1) auto;
        @include screen(large) {
            margin: golden-ratio(1) auto;
        }
        @include screen(big) {
            margin: golden-ratio(2) auto;
        }
    }
    figcaption {
        margin-top: golden-ratio(-1);
        max-width: 20em;
    }
    figure {
        max-width: 1000px;
    }
    p {
        max-width: 22.5em;
    }
}

.pc__title {
    margin-bottom: .25em;
}

.pc__tags {
    margin-bottom: golden-ratio(3);
    @include screen(large) {
        margin-bottom: golden-ratio(4);
    }
}

@include screen(big) {
    .fig {
        overflow: hidden;
        max-width: 1000px;
    }
    .fig--left {
        float: left;
        width: 49%;
        margin-right: 2%;
    }
    .fig--right {
        float: right;
        width: 49%;
    }
}

.nav-thumbs {
    &:before,
    &:after {
        content: ' ';
        display: table;
    }
    &:after {
        clear: both;
    }
    li {
        float: left;
        width: 30%;
        margin-right: 5%;
        margin-bottom: 1em;
        &:nth-child(3n) {
            margin-right: 0;
        }
        &:nth-child(1n) {
            clear: none;
        }
        &:nth-child(3n+1) {
            clear: both;
        }
    }
    li.current {
        opacity: .25;
    }
    @include screen(big) {
        li {
            width: 15%;
            margin-right: 2%;
            &:nth-child(3n) {
                margin-right: 2%;
            }
            &:last-child {
                margin-right: 0;
            }
            &:nth-child(3n+1) {
                clear: none;
            }
        }
    }
}

// Profile
.profile {
    padding: golden-ratio(2) 0 0;
}

.profile-about {
    margin-top: golden-ratio(2);
    p {
        margin: golden-ratio(-1) auto;
        max-width: 22.5em;
    }
}

.profile-pic {
    max-width: 1000px;
    margin: 0 auto;
    opacity: .9;
    transition: all 0.2s ease-in-out;
}

// Footer
.footer {
    padding: golden-ratio(2) 0;
    border-top: 1px solid $secondary;
    overflow: hidden;
    @include screen(large) {
        margin-top: golden-ratio(2);
    }
}

.footer__col {
    width: 33%;
    float: left;
    &:last-child {
        margin-right: 0;
    }
    li {
        margin-bottom: 1em;
    }
}