.arrow {
  //font-size: 1.25em;
  //line-height: .75em;
  //color: $accent
}

.secondary {
  color: lighten($color, 50);
}

.nav {
  font-size: 1em;
  text-transform: uppercase;
  a {
    border-bottom: none;
  }
}

.nav__work {
  text-align: center;
}

.index-page {
  .nav__profile {
    text-align: left;
  }
  .nav__work {
    text-align: center;
  }
}

.profile-page {
  .nav__profile {
    text-align: center;
  }
  .nav__work {
    text-align: right;
  }
}

.nav__contact,
.nav__profile,
.nav__work {
  color: $secondary;
}

.gintouch {
  color: $secondary;
  font-family: $serif;
}

// ME
.me__profession {
  line-height: 1.2;
  font-family: $grande;
  font-size: modular-scale(2);
  text-align: center;
  @include screen(large) {
    font-size: modular-scale(3);
  }
}

.me__introduce {
  text-align: center;
  color: $bg;
}

// Project List INDEX
.project-list {
  a {
    border-bottom: none;
  }
}

.project__title {
  text-align: center;
  text-transform: uppercase;
}

.project__type {
  text-align: center;
  color: $bg;
}

// Project Content
.project-content {
  font-family: $serif;
  p {
    font-size: modular-scale(1);
    @include screen(large) {
      font-size: modular-scale(1)
    }
  }
  figcaption {
    color: lighten($color, 40);
    font-family: $sans;
  }
}

.pc__title {
  color: $bg;
  line-height: 1.2;
  font-size: modular-scale(2);
  font-family: $grande;
  text-align: center;
  @include screen(large) {
    font-size: modular-scale(3);
  }
}

.pc__tags {
  color: $bg;
  text-align: center;
  text-transform: uppercase;
  font-size: modular-scale(-1);
  font-family: $sans;
}

.project-nav {
  font-size: 1em;
  font-family: $sans;
  text-transform: uppercase;
  a {
    border-bottom: none;
  }
}

.nav-thumbs__title {
  margin-top: .5em;
  text-transform: uppercase;
  font-size: modular-scale(-2);
  text-align: center;
}

// Profile
.profile-hello {
  font-family: $serif;
  text-align: center;
  font-size: modular-scale(2);
}

.profile-about {
  font-family: $serif;
  font-size: modular-scale(1);
  @include screen(large) {
    font-size: modular-scale(1)
  }
}

.profile-cv {
  font-family: $sans;
  font-size: modular-scale(-1);
  text-align: center;
  a {
    border-bottom: none;
    text-transform: uppercase;
  }
}