<!DOCTYPE html>
<html class="no-js">

{% include head.html %}

<body id="start">

  <div class="container">
    <div class="d-xl-flex pt-5">

      <div class="intro">
        <img class="mb-5" src="{{ 'img/rzecchini_profile_pic.jpg' | relative_url}}" alt="" width="150" height="150">
        <h1 class="text-xl font-bold mb-11">Hi there, I’m Riccardo.</h1>
        <h2 class="text-lg mb-5">User Experience specialist and front-end designer.</h2>
        <div class="mb-1">
          <a href="#about">More about me</a>
        </div>
        <div class="mb-1">
          <a class="d-xl-none" href="#work">My work</a>
        </div>
        <div class="mb-1">
          <a href="#contact">Get in touch</a>
        </div>
      </div>

      <div class="content">
        <div class="row d-xl-none">
          <div class="col-12 pt-7 pb-7">
            <hr>
          </div>
        </div>
        <!-- 2020 -->
        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12 pb-3">
            <h2 class="text-xl font-bold mb-11" id="work">Currently</h2>
            <p class="text-lg">I’m Senior UX and UI designer at <a href="https://www.vertical-life.info/">Vertical-Life</a> — the world’s largest climbing network, where I build comprehensive software solutions for climbing gyms, outdoor climbers, the IFSC and home training with my team.</p>
            <table class="text-sm mt-5 mb-1">
              <tbody>
                <tr>
                  <td class="font-bold pr-1">Date</td>
                  <td>2018-today</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">My roles</td>
                  <td>Product Design, UX, Front-end design, Project management</td>
                </tr>
                <tr>
                  <td class="font-bold pr-1">Industry</td>
                  <td>Outdoor, Climbing</td>
                </tr>
              </tbody>
            </table>
            <img src="{{ 'img/vl_logo.png' | relative_url}}" width="54" height="40" alt="Vertical-Life logo">
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12 col-md-6 col-lg-7 pb-1 order-md-2">
            <img src="{{ 'img/rzecchini_vl_rs.png' | relative_url}}" alt="Smart Climbing Gymy sample screen">
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm order-md-1">
            <p class="mb-1">Lead designer in the Smart Climbing Gym team — working on a modular management software for gyms connected to a native app for customers. Together they simplify staff operations and raise customer engagement.</p>
            <div><a href="https://gym.vertical-life.info/" target="_blank">More about Smart Climbing Gym</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-md-6 col-lg-7 pb-1 order-md-2">
            <img src="{{ 'img/zlagboard_app.gif' | relative_url}}" alt="Zlagboard app gif">
          </div>
          <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm order-md-1">
            <p class="mb-1">In other teams I’ve contributed to major redesigns, product specs and design systems. I use prototyping as a mindset to rapidly test ideas and move quickly. Often times I find myself project manager and design-development facilitator.</p>
            <div class="mb-11"><a href="https://zlagboard.com/" target="_blank">Go to Zlagboard training website</a></div>
            <div><a href="https://www.vertical-life.info/" target="_blank">Go to Vertical-Life website</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pt-7 pb-7">
            <hr>
          </div>
        </div>

        <!-- Previously -->
        <div class="row">
          <div class="col-12 col-lg-10 col-xl-12 pb-5">
            <h2 class="text-xl font-bold mb-1">Previously</h2>
            <p class="text-lg">I’ve worked at multi-disciplinary design companies and I’ve collaborated with successful startups:</p>
          </div>
        </div>

        <section class="mb-7">
          <div class="row">
            <div class="col-12 col-md-8 pb-3">
              <div class="mb-1">
                <a href="https://www.chialab.it/lang/eng">Chialab</a>
                <span> — UX/UI Designer</span>
              </div>
              <table class="text-sm mb-1">
                <tbody>
                  <tr>
                    <td class="font-bold pr-1">Date</td>
                    <td>2015–2018</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-1">My roles</td>
                    <td>Product Design, UX, Front-end engineering</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-1">Industry</td>
                    <td>Design Agency, Publishing, Municipality, Innovation</td>
                  </tr>
                </tbody>
              </table>
              <img src="{{ 'img/chialab_logo.png' | relative_url}}" width="58" height="36" alt="Chialab logo">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-7 pb-1 order-md-2">
              <img src="{{ 'img/rzecchini_chialab_agile.jpg' | relative_url}}" alt="Agile development at Chialab">
            </div>
            <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm order-md-1">
              <p class="mb-1">I’ve been involved in multi-disciplinary teams working for a vast array of clients using Agile/Scrum methodologies. Read some case studies about my main projects on the company’s website:</p>
              <div class="mb-11"><a href="https://www.chialab.it/lang/eng/works/dockbooking-work" target="_blank">Dockbooking - App and website</a></div>
              <div class="mb-11"><a href="https://www.chialab.it/lang/eng/works/pearson-player" target="_blank">Pearson - Player 2.0 web-app</a></div>
              <div><a href="https://www.chialab.it/lang/eng/works/report-sui-consumi" target="_blank">Hera - Infographic report and UI</a></div>
            </div>
          </div>
        </section>

        <section class="mb-7">
          <div class="row">
            <div class="col-12 col-md-8 pb-3">
              <div class="mb-1">
                <a href="https://www.rosamosario.com/">Rosamosario</a>
                <span> — Front-end developer</span>
              </div>
              <table class="text-sm">
                <tbody>
                  <tr>
                    <td class="font-bold pr-1">Date</td>
                    <td>2016</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-1">My roles</td>
                    <td>Front-end development</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-1">Industry</td>
                    <td>Fashion, e-commerce</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-7 pb-1 order-md-2">
              <img src="{{ 'img/rzecchini_rosamosario.png' | relative_url}}" alt="Rosamosario sample screens">
            </div>
            <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm order-md-1">
              <p class="mb-1">During the complete redesign of the e-commerce website I’ve helped the team migrating from Magento to Shopify developing the website front-end.</p>
              <div><a href="https://www.rosamosario.com/" target="_blank">Visit rosamosario.com</a></div>
            </div>
          </div>
        </section>

        <section class="mb-7">
          <div class="row">
            <div class="col-12 col-md-8 pb-3">
              <div class="mb-1">
                <a href="https://www.chialab.it/lang/eng">Satispay</a>
                <span> — Product Designer</span>
              </div>
              <table class="text-sm mb-1">
                <tbody>
                  <tr>
                    <td class="font-bold pr-1">Date</td>
                    <td>2014</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-1">My roles</td>
                    <td>Product Design, UX, UI</td>
                  </tr>
                  <tr>
                    <td class="font-bold pr-1">Industry</td>
                    <td>Mobile payments, Digital Innovation</td>
                  </tr>
                </tbody>
              </table>
              <img src="{{ 'img/satispay_logo.png' | relative_url}}" width="120" height="30" alt="Satispay logo">
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-7 pb-1 order-md-2">
              <img src="{{ 'img/riccardo_zecchini_satispay_05.gif' | relative_url}}" alt="Satispay gif">
            </div>
            <div class="col-12 col-md-6 col-lg-5 pb-1 text-sm order-md-1">
              <p class="mb-1">I joined the team during the early stages to help them prototyping, testing, and validating ideas about simplifying payments and money transfers — Satispay became innovation leader in financial tech.</p>
              <div><a href="https://www.satispay.com/" target="_blank">Visit Satispay website</a></div>
            </div>
          </div>
        </section>

        <div class="row">
          <div class="col-12 pt-7 pb-7">
            <hr>
          </div>
        </div>

        <!-- About -->
        <div class="row">
          <div class="col-12 col-md-8 col-xl-10">
            <h2 class="text-xl font-bold mb-1" id="about">About</h2>
            <p class="text-lg mb-3">Hello. Nice to meet you! <br> I’m Riccardo and for the past 10 years I’ve been shaping interactive digital products.</p>
            <p class="mb-3">In my work I focus on <strong>making customers happy</strong> and <strong>help businesses growing</strong>. Today I’m more interested in a product that is simple and helpful than a product that looks fancy. </p>
            <!-- <p class="mb-3">I own the design process from concept to implementation: I conduct user research and usability testings, create user-flows and prototypes, define design systems and style guidelines, build websites and code design components for modern frameworks.</p> -->

            <p class="mb-11">I own the design process from concept to implementation:
            </p>
            <ul class="mb-3">
              <li>conduct user research and usability testings,</li>
              <li>create user-flows and prototypes,</li>
              <li>define design systems and style guidelines,</li>
              <li>build websites and code design components for modern frameworks.</li>
            </ul>


            <p class="mb-3">Knowing how to write front-end code and understading how it performs has taught me how <strong>I can help teams in bridging the divide between the design and development worlds</strong>.</p>
            <img class="mb-5" src="{{ 'img/rzecchini_office.jpg' | relative_url}}" alt="Picture of Riccardo in the office">
            <img class="mb-1" src="{{ 'img/rzecchini_climbing.jpg' | relative_url}}" alt="Photo of Riccardo climbing, shot by Fabian">
            <p class="text-sm">In my spare time I love going climbing and being outdoor exploring the mountains.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pt-7 pb-7">
            <hr>
          </div>
        </div>

        <!-- Get in touch -->
        <div class="row">
          <div class="col-12">
            <h2 class="text-xl font-bold mb-1" id="contact">Get in touch</h2>
            <div style="overflow-x: auto;">
              <table>
                <tbody>
                  <tr>
                    <td class="pb-1 pr-1">Email</td>
                    <td><a href="mailto:zecchini.riccardo@gmail.com">zecchini.riccardo@gmail.com</a></td>
                  </tr>
                  <tr>
                    <td class="pb-1 pr-1">Twitter</td>
                    <td><a href="https://twitter.com/rzecchini">@rzecchini</a></td>
                  </tr>
                  <tr>
                    <td class="pb-1 pr-1">Linkedin</td>
                    <td><a href="https://www.linkedin.com/in/rzecchini">linkedin.com/in/rzecchini</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="text-sm pt-5 pb-7">
              <a href="#start">Back to top</a>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- /.d-xl-flex -->
  </div> <!-- /.container -->

</body>

</html>