<!DOCTYPE html>
<html class="no-js">

{% include head.html %}

<body class="{% if nickname == 'profile' %}profile-page{% else %}project-page{% endif %}">
    {% include header.html %}

    {% if nickname != 'profile' %} 
        <div class="project-intro">
            <div class="container">
                <h1 class="project-intro__title">{{ page.title }}</h1>
                <h3 class="project-intro__tags">{{ page.activity }}</h3>
        
                {% if page.cover %}
                <figure class="project-intro__pic">
                    <img src="{{ page.cover | relative_url }}" alt="{{ page.title }}">
                </figure>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <div class="content">
        <div class="container">
            {{ content }}
        </div>
    </div>
 
    {% if nickname != 'profile' %}
        {% include thumbs.html %}
    {% endif %}

    {% include footer.html %}
</body>

</html>