<!DOCTYPE html>
<html class="no-js">

{% include head.html %}

<body>
    {% include header.html %}
    
    <div class="project-list">
        <div class="container">
            {% assign works = site.pages | where: "work", true | sort: "index" %}
            {% for work in works %}
                <article class="project">
                    <a href="{{ work.url }}">
                    <figure>
                        <img src="{{ work.poster }}" alt="{{ work.title }}">
                    </figure>
                    <h1 class="project__title">{{ work.title }}</h1>
                    </a>
                    <h2 class="project__type">{{ work.type }}</h2>
                </article>
            {% endfor %}
        </div>
    </div>
    
    {% include footer.html %}

</body>

</html>